* {
    box-sizing: border-box;
    margin: 0;
    border: 1px solid black;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;

    #calculatorContainer {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        width: 400px;
        height: 800px;
        padding: 25px;

        #displayContainer {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 100%;
            height: 25%;

            #calculationDisplay {
                height: 45%;
                width: 100%;
                text-align: right;
            }

            #inputDisplay {
                width: 100%;
                height: 45%;
                text-align: right;
            }
        }

        #keyPad {
            display: flex;
            justify-content: center;
            height: 50%;

            #numeralContainer {
                display: flex;
                flex-wrap: wrap;
                width: 75%;
            
                button {
                    width: 31%; 
                    aspect-ratio: 1/1;

                    margin: 1%;
                    /* Horizonal margins do not collapse. Pain it the ass. */
                }
            }

            #operatorContainer {
                display: flex;
                flex-direction: column;
                width: 25%;

                button {
                    aspect-ratio: 1/1;
                }
            }
        }

        #specialKeyContainer {
            display: flex;
            height: 10%;

            #btnClear {
                width: 40%;
            }

            #btnEql {
                width: 60%;
            }
        }
    }
}

