* {
    box-sizing: border-box;
    margin: 0;
    border: 1px solid black;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;

    #displayContainer {
        width: 80vw;
        text-align: right;
    }

    #specialRow {
        display: flex;
        justify-content: flex-end;
        width: 80vw;

        button {
            width: 20vw;
        }
    }

    #keyPad {
        display: flex;
        justify-content: center;

        #numeralContainer {
            display: flex;
            flex-wrap: wrap;
            width: 60vw;
    
            button {
                width: 33.3333%;
            }
        }

        #operatorContainer {
            display: flex;
            flex-direction: column;
            width: 20vw;
        }
    }
}

