* {
    box-sizing: border-box;
    margin: 0;
    font-family: "Orbitron", sans-serif;
    font-size: 1.1rem;
    font-weight: bold;
    /* Do we need the above? */
    color: #23b2ee;
    list-style-type: none;

}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
    
    /* background: #7b96aa; */
    background: #c8e5fa;
    font-size: 62.5%;

    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 30px;
        margin-bottom: auto;
        padding: 0 20px;
        background-color: #1d394a;

        ul {
            display: flex;
            li {
                margin: 0 10px;
            }
        }
    }

    #calculatorContainer {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: auto;

        width: 400px;
        height: 800px;
        padding: 25px;

        background: #898989;
        border: 3px solid #1d394a;
        border-radius: 25px;
        box-shadow: 10px 10px;

        #displayContainer {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 100%;
            height: 25%;

            #calculationDisplay, #inputDisplay {
                display: flex;
                justify-content: flex-end;
                align-items: center;
                height: 45%;
                width: 100%;
                border: 3px solid #1d394a;
                border-radius: 10px;
                padding: 5%;
                text-align: right;
                background:#142027;
            }

            /* #inputDisplay { */
                /* width: 100%; */
                /* height: 45%; */
                /* text-align: right; */
                /* background: #142027; */
            /* } */
        }

        #keyPad {
            display: flex;
            flex-wrap: wrap;
            height: 50%;

            button {
                width: 23%; 
                aspect-ratio: 1/1;
                margin: 1%;
                border-radius: 10px;;
                background: #1d394a;
            }

            .operatorButton {
                background: #245570;
            }
            
            #btn0 {
                width: 48%;
                aspect-ratio: 48/23;
            }
        }

        #specialKeyContainer {
            display: flex;
            height: 10%;

            #btnClear {
                width: 40%;
                background: #913923;
            }

            #btnEql {
                width: 60%;
                background: #245570;
            }
        }
    }

    footer {
        width: 100%;
        height: 30px;
        margin-top: auto;
        background-color: #1d394a;
        text-align: center;
    }
}

